<mat-card>
    <mat-card-header>
      <mat-card-title>{{'MENU.OPTIONS.LICENSE' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{'LICENSE.DESCRIPTION_PREFIX' | translate}}
        <a href="https://unsplash.com">https://unsplash.com</a>
        {{'LICENSE.DESCRIPTION_SUFFIX' | translate}}
      </p>
      <ul>
        <li>{{'LICENSE.ALLOW_1' | translate}}</li>
        <li>{{'LICENSE.ALLOW_2' | translate}}</li>
        <li>{{'LICENSE.ALLOW_3' | translate}}</li>
      </ul>
      <p>
        {{'LICENSE.NOT_PERMISSION' | translate}}
      </p>
      <ul>
        <li>{{'LICENSE.NOT_ALLOW_1' | translate}}</li>
        <li>{{'LICENSE.NOT_ALLOW_2' | translate}}</li>
      </ul>

      <p>
        {{'LICENSE.MORE_ON_SITE' | translate}}<a href="https://unsplash.com/license">https://unsplash.com/license</a>.
        {{'LICENSE.COLLECTION_ON_SITE_PREFIX' | translate}} <a href="https://unsplash.com/@kinomi95/collections">https://unsplash.com/@kinomi95/collections</a>
        {{'LICENSE.COLLECTION_ON_SITE_SUFFIX' | translate}}  
    </p>
    </mat-card-content>
</mat-card>