<h1 mat-dialog-title>{{'COMMON.SUBCATEGORY' | translate}}</h1>
<div mat-dialog-content>
    {{'COMMON.SUBCATEGORY_DIALOG_DESC' | translate}}

    <div *ngFor="let category of categories" class="content-div">
        <div *ngIf="category.subcategories.length > 1">
            <h3>{{ category.name | translate }}</h3>
            <mat-chip-list aria-label="Category selection" multiple>
                <div *ngFor="let subcategory of category.subcategories">
                    <mat-chip color="primary" [selected]="subcategory.state" (click)="changeSelected(subcategory)"
                        *ngIf="subcategory.collectionId">
                        <span>{{ subcategory.name | translate }}</span>
                    </mat-chip>
                </div>
            </mat-chip-list>

        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'COMMON.CANCEL' | translate }}</button>
    <button mat-button [mat-dialog-close]="categories" cdkFocusInitial>{{'COMMON.OK' | translate }}</button>
</mat-dialog-actions>